.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default: 3 cards per row */
    gap: 30px; /* Space between books */
    justify-content: center;
    padding: 20px;
  }
  
  /* Responsive for Tablets (2 per row) */
  @media (max-width: 900px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Responsive for Mobile (1 per row) */
  @media (max-width: 600px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    height:350px;
    width:338px;

  }
  
  .card:hover {
    transform: scale(1.05);
  }

  .search-bar {
    
    width: 100%;
    max-width: 700px; /* Adjust max width as needed */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 50px;
    margin: 20px auto;
    display: block; /* Centers the input */
  }
  .nik {
    background-color:#f2e7bc;
  }
  
  