.hero{
    background-color: #f8f9fa;
    padding: 60px;
 text-align: center;
    /* margin: 20px; */
   
    
}

.hero2{
   
    background-color: #f8f9fa; 
 text-align: center; 
 

}
.hero2-container{
    display: flex;
    justify-content: space-around;
    margin: 0;
   
}

.hero2-content{
    margin: 20px;
    justify-content: space-around;
    align-items: center;
     /* border: black 1px solid; */
}

.hero2-content p{
    text-align: left;
    margin-top: 20px;
    line-height: 1.8rem;
}